.bookshelf-background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(4, 356px);
  grid-template-rows: max-content auto;
  column-gap: 48px;
  row-gap: 48px;
  justify-content: center;
  margin: 24px auto;
  overflow: scroll;
}

.bookshelf::-webkit-scrollbar {
  display: none;
}

h2 {
  background-color: #F5F1E1;
  color: #790237;
  padding: 5px;
  border-radius: 7px;
  margin-top: 5px;
}

@media only screen and (max-width: 1600px) {
  .bookshelf {
    grid-template-columns: repeat(3, 356px);
  }
}

@media only screen and (max-width: 1200px) {
  .bookshelf {
    grid-template-columns: repeat(2, 356px);
  }
}

@media only screen and (max-width: 800px) {
  .bookshelf {
    grid-template-columns: 356px;
  }
}
