.list-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.listTitle {
  background-color: rgba(245, 241, 225, 0.73);
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  color: #790237;
}


.listTitle > h2 {
  font-size: 50px;
  color: #790237;
}


.list-container {
  background-color: #F5F1E1;
  overflow: scroll;
  padding: 10px 30px;
  opacity: .73;
  border-radius: 8px;
}


.list-container::-webkit-scrollbar {
  display: none;
}


.list-container > h4 {
  margin-bottom: 16px;
  border-bottom: solid 2px #7902386b;
  font-size: 32px;
  line-height: 56px;
  color: #790237;
}


li {
  list-style: none;
  padding: 3px;
  font-weight: bolder;
}


a {
  text-decoration: none;
}


li:hover {
  cursor: pointer;
  background-color:#790237;
  color: #F5F1E1;
  border-radius: 7px;
}


.listItem {
  color: #790237;
  font-size: 26px;
}
