.list-background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.listTitle {
  font-size: 50px;;
  color: #790237;
  background-color: rgba(245, 241, 225, 0.73);
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}


.list-container {
  background-color: #F5F1E1;
  overflow: scroll;
  padding: 10px 30px;
  opacity: .73;

}


.list-container::-webkit-scrollbar {
  display: none;
}


li {
  list-style: none;
  padding: 3px;
  font-weight: bolder;
}

a {
  text-decoration: none;
}


li:hover {
  cursor: pointer;
  background-color:#790237;
  color: #F5F1E1;
  border-radius: 7px;
}


.listItem {
  color: #790237;
  font-size: 26px;
}
