.nav {
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: #790237;
  color: #F5F1E1;
  padding: 15px;
  position: sticky;
}


.nav > h1 {
  font-size: 45px;
}


.nav-links,
.nav > h1 {
  display: flex;
  padding: 15px;
  margin: 0 40px 0 0;
  align-items: center;
}


.nav-links > li {
  padding: 0 15px;
}


.nav-links > li:hover {
  cursor: pointer;
  background-color: #F5F1E1;
  color: #790237;
  border-radius: 7px;
}

a {
  color: inherit;
}

@media only screen and (max-width: 610px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-links, h1 {
    margin: auto;
  }
}
