.bookCard {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 16px;
  background: rgba(245, 241, 225, 0.73);
  display: grid;
  grid-template-rows: 2em 495px auto;
  row-gap: 8px;
}

span {
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favoritesBtn {
  height: fit-content;
}

.bookImg {
  grid-row: 2;
  max-width: 320px;
  justify-self: center;
  align-self: center;
}

.bookDetails {
  grid-row: 3;
  align-self: center;
}

.title,
.author,
.rank {
  color: #790237;
}
